# Virtual environment
venv/
__pycache__/
*.pyc
*.pyo

# Data and large files (too big for GitHub)
data/
*.h5
*.csv
*.xlsx

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/